body{
    background-image: url(56.jpg)
}

img{border-radius: 80%
}

hr{
    border: 1px dashed white;
}

body{
    color:rgb(255, 230, 0);
}

a{
    color: white;
}
a:link, a:hover {
    font-size: 25px;
    color: blue;
    padding: 100px 50%;
    text-align: center; 
  }